:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-success: #28a745;
    --color-danger: #dc3545;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.4rem;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

/* typography */

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    line-height: 1.4;
    color: var(--color-body);
    font-size: 2.4rem;
    margin-top: 0;
}

@media screen and (min-width: 950px) {
    h1,
    h2,
    h3 {
        margin-bottom: 1.2rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    p {
        font-size: 1.8rem;
    }
}



/* Button */
.btn {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 2rem 3rem;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.btn--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.btn--accent {
    background: var(--color-accent);
    color: #fff;
}

.btn--danger {
    background: var(--color-danger);
    color: #fff;
}

.btn--success {
    background: var(--color-success);
    color: #fff;
}

@media screen and (min-width: 950px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* link */

a {
    text-decoration: none;
}

.link {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-accent);
}

.link::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.1s;
}

.link:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 950px) {
    .link {
        font-size: 1.5rem;
    }
}

/* badge */

.badge {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
}

.badge--small {
    font-size: 1.6rem;
}

.badge--primary {
    background: #126de4;
    color: #fff;
}

.badge--secondary {
    background: #02cdf1;
    color: #fff;
}

@media screen and (min-width: 950px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/* input */

.input {
    font-size: 2rem;
    font-weight: 300;
    padding: 2.2rem 4.4rem;
    border-radius: 50px;
    border: 1px solid #ccc;
    outline: none;
}

::placeholder {
    font-size: 2rem;
    color: var(--color-headings);
    opacity: 0.3;
}

.input-group {
    border: 1px solid #ccc;
    border-radius: 50px;
    display: flex;
    box-shadow: 0 0 40px #ccc;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
}

.input-group .btn {
    margin: 4px;
}

@media screen and (min-width: 950px) {
    .input {
        font-size: 1.5rem;
    }
}

/* card */

.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 30px #ccc;
}

.card__header {
    font-size: 4rem;
    font-weight: bold;
}

.card__body, .card__header {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background: var(--color-primary);
    color: #fff;
}

.card--secondary .card__header {
    background: var(--color-secondary);
    color: #fff;
}

/* list */

.list {
    list-style: none;
    padding-left: 0;
    line-height: 2.5;
    color: var(--color-headings);
    font-size: 2.4rem;
}

.list--inline .list__item {
    display: inline-block;
    margin-left: 5rem;
}

.list--small {
    font-size: 2rem;
}

@media screen and (min-width: 950px) {
    .list {
        font-size: 1.8rem;
    }

    .list--small {
        font-size: 1.5rem;
    }
}

/* icon */ 

.icon-container {
    background: #f3f9f9;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-primary);
}

