<header class="block block--primary nav-container">
    <nav class="container nav collapsible">
        <a href="#" class="nav__title">
            <img class="icon nav__logo" src="icons/logo.png" alt="">
            HOA Website
        </a>
        <svg class="icon icon--white nav__toggler" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
        </svg>
        <ul class="list nav__list collapsible__body">
            <li><a class="list__item" href="#">Home</a></li>
            <li><a class="list__item" href="#">Contact</a></li>
            <li><a class="list__item" href="#">Gallery</a></li>
            <li><a class="list__item" href="#">About Us</a></li>
            <li><a class="list__item btn btn--secondary btn--small nav__btn" href="#">Login</a></li>
            <li><a class="list__item btn btn--accent btn--small nav__btn" href="#">Register</a></li>
        </ul>
    </nav>
</header>
<section class="block block--primary block--skewed-left hero">
    <div class="container grid grid--cols-2 hero__container">
        <div class="hero__content">
            <h1 class="block__heading hero__title">Home Owner's Association</h1>
            <p class="hero__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odio.</p>
            <a href="#" class="btn btn--secondary hero__btn shadow">GET STARTED</a>
        </div>
        <img class="hero__image" src="icons/logo.png" alt="">
    </div>
</section>